# Файлы сборки
/target/
/out/
/build/
*.jar
*.war
*.ear

# Логи и дампы
*.log
*.tmp
*.swp
*.dump

# Файлы IDE
.idea/
*.iml
*.iws
*.ipr

# Системные файлы
.DS_Store
Thumbs.db

# Файлы зависимостей (Gradle)
.gradle/